.frame{
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    height: 568px;
    margin: auto;
    margin-top: 15vh;
    background-image: linear-gradient(#f49a21,#f49a21,#ffae22);
    z-index: 1;    
    position: relative;
}

.bg{
    width:100%;
    height:100%;
    background-color: black;
    z-index: 0;
}

.heading{
    color:white;
    margin:auto;
}

.scroll-left {
 height: 50px;
 width: 500px ;
 overflow: hidden;
 position: relative;
 background: black;
 color: black;
 border: 1px solid white;
 background: #eFefeF;
 margin: auto;
}

.scroll-left p {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 10s infinite linear;
    z-index: inherit;
}
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

.banner{
    width: 100%;
    height: auto;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    color: orangered;
    border: #eFefeF;
    background-color: black;
    position: relative;
    z-index: inherit;
}

.notice{
    color:#b27618;
    font-size: 900%;
    z-index: 1;
    position: absolute;
    right: 0vh;
    bottom: -3vh;

}

.orange{
    width: 70%;
    height: auto;
    margin:auto;
    margin-top: 20px;
    background-color: #e8861d;
    color: #785528;
    z-index: 3;
    position: relative;
}
.orange p{
    border:1 solid #f49a21;
    z-index: inherit;
}

#fakebanner{
    text-align: center;
}

#birthday{
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 3;
    right: 0vh;
    bottom: 10vh;
    color: darkslategray;
    position: absolute;
}