.frame {
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    height: 568px;
    margin: auto;
    margin-top: 15vh;
    background-image: linear-gradient(#f49a21, #f49a21, #ffae22);
    z-index: 1;
    position: relative;
}

.bg {
    width: auto;
    height: auto;
    background-color: black;
    z-index: 0;
}

.heading {
    color: white;
    margin: auto;
}

#topbanner {
    height: 50px;
    width: 500px;
    overflow: hidden;
    position: relative;
    background: black;
    color: black;
    border: 1px solid white;
    background: #eFefeF;
    margin: auto;
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    color: orangered;
    border: #eFefeF;
    background-color: black;
    position: relative;
    z-index: inherit;
}

.notice {
    color: #b27618;
    font-size: 900%;
    z-index: 1;
    position: absolute;
    right: 0vh;
    bottom: -3vh;

}

.orange {
    width: 600px;
    height:auto;
    margin: auto;
    margin-top: 20px;
    background-color: #e8861d;
    color: #785528;
    word-wrap: break-word;
    z-index: 3;
    position: relative;
}

#fakebanner {
    text-align: center;
}

#birthday {
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 3;
    right: 0vh;
    bottom: 10vh;
    color: darkslategray;
    position: absolute;
}

.white {
    color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.bsquare {}

.osquare {
    width: 20px;
    height: 20px;
    background-color: #e8861d;
    z-index: 99;
    position: absolute;
    margin-left: 96%;
    margin-top: -3.5%;
}

.osquare2 {
    width: 20px;
    height: 20px;
    background-color: #e8861d;
    z-index: 99;
    position: relative;
    margin-left: -200%;
    margin-top: -3.5%;
}

.bsquare {
    width: 20px;
    height: 20px;
    background-color: #4d92ff;
    z-index: 99;
    position: relative;
    margin-left: -200%;
    margin-top: -3.5%;
}